[mysqld]
server-id=1

character-set-server=utf8mb4
collation_server=utf8mb4_unicode_ci

log-bin=/var/log/mysql/bin-log

general_log=1
general_log_file=/var/log/mysql/general.log

# Slow query settings:
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=0.5

[client]
default-character-set=utf8mb4
